@media screen and (max-width: 1375px) {
        .project__card {
            width: 350px;
            height: 450px;
        }
}

@media screen and (max-width: 1200px) {
    /* NAV */
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
        margin-top: 0;
    }
    /* -------------------------------------------------------------------------------------------------- */
    /* SECTION LAYOUT */
    #profile, #about, .section__about-wrapper, .projects__container {
        display: flex;
        flex-direction: column;
        margin-top: 0;
    }
    /* -------------------------------------------------------------------------------------------------- */
    /* PROFILE */
    #profile {
        margin-bottom: 0.7rem;
    }
    /* -------------------------------------------------------------------------------------------------- */
    /* ABOUT */
    .section__text-container {
        overflow: hidden;
        padding: 0;
        margin:  2rem 2rem 0 2rem;
    }
    .icons-container {
        margin: 0 auto;
        width: 95%;
    }
    .section__text-container .section__text__p1 {
        font-size: 1rem;
        margin-top: 2rem;
        text-wrap: wrap;
    }
    .about__heading {
        margin-top: 2.5rem;
    }
    /* -------------------------------------------------------------------------------------------------- */
    /* PROJECTS */
    .projects__container {
        gap: 1rem;
        margin-top: 2em;
    }
    /* -------------------------------------------------------------------------------------------------- */
    /* CONTACT */
    .contact__links {
        margin-top: 5rem;
    }

    nav:last-of-type {
        margin-top: 7rem;
    }
    /* -------------------------------------------------------------------------------------------------- */
    /* FOOTER */
    footer {
        margin: 5rem 0 1rem 0;
    }
}

@media screen and (min-width: 1200px) {
    #desktop-nav {
        display: flex;
    }
    #hamburger-nav {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .icons-container {
        width: 50%;
        flex-wrap: wrap;
    }
    .icons-container img {
        width: 50px;
        height: 50px;
    }
    .contact__links {
        flex-wrap: wrap;
        justify-content: center;
        width: 400px;
        height: 125px;
    }
}

@media screen and (max-width: 485px) {
    body {
        min-width: fit-content;
        
    }
    .contact__heading {
        width: 100%;
    }
    .contact__heading .title {
        padding-right: 1.4rem;
        overflow-wrap: break-word;
        text-align: center;
    }
    .nav-links:last-child {
        font-size: 1.5rem;
    }
    .projects__container {
       justify-content: center;
       align-items: center;
    }
}   